<ion-content [fullscreen]="true">
  <div class="container">
    <div class="title">
      <span>BEM ESTAR</span>
      <img src="../../assets/icon/logo.png" alt="" />
    </div>

    <div class="footer">
      <p class="footer-title">Cuide bem da sua saúde!</p>
      <p class="footer-subtitle">
        O mais novo aplicativo, que te ajuda a cuidar diáriamente da sua saúde,
        borá lá?
      </p>
      <div>
        <ion-button expand="block" routerLink="/cadastro" class="button"
          >Começar</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
